<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Material Design Bootstrap</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="/../css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="/../css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="/../css/style.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="/../css/mailbox.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="/../css/mailbox/accounts/add.css" rel="stylesheet">
  <!-- Your custom styles (optional)-->
  <link href="/../css/mailbox/accounts/add/simple.css" rel="stylesheet">
</head>

<body class="grey lighten-3">
    <div class="content">
        <!-- Horizontal Steppers -->
        <div class="row">
            <div class="col-md-12">

                <!-- Stepers Wrapper -->
                <ul class="stepper stepper-horizontal">

                    <!-- First Step -->
                    <li class="warning">
                        <a style="cursor: default;">
                        <span class="circle">1</span>
                        <span class="label">First step</span>
                        </a>
                    </li>

                    <!-- Second Step -->
                    <li class="completed">
                        <a style="cursor: default;">
                        <span class="circle">2</span>
                        <span class="label">Second step</span>
                        </a>
                    </li>

                    <!-- Thired Step -->
                    <li class="warning">
                        <a style="cursor: default;">
                        <span class="circle">3</span>
                        <span class="label">Third step</span>
                        </a>
                    </li>

                </ul>
                <!-- /.Stepers Wrapper -->

            </div>
        </div>
        <!-- /.Horizontal Steppers -->
        <!-- Title-"Connect Your Email Account To CuteLeads"-->
        <div class="new-add-title">
            <h3>Connect your email account to Cuteleads</h3>
        </div>
        <!-- /.Title-"Connect Your Email Account To CuteLeads"-->

        <!--Section: Contact v.2-->
        <section class="mb-4">
            <div class="row">
        
                <!--Grid column-->
                <div class="col-md-9 mb-md-0 mb-5">
                    <form id="contact-form" name="contact-form" action="mail.php" method="POST">
        
                        <!--Grid row-->
                        <div class="row">
        
                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" id="name" name="name" class="form-control">
                                    <label for="name" class="">From name...</label>
                                </div>
                            </div>
                            <!--Grid column-->
                        </div>
                        <!--Grid row-->
        
                        <!--Grid row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" id="email" name="email" class="form-control">
                                    <label for="email" class="">Email...</label>
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->
                        <!--Grid row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="password" id="password" name="password" class="form-control">
                                    <label for="password" class="">Password...</label>
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->
        
                        <!--Grid row-->
                        <div class="row">
        
                            <!--Grid column-->
                            <div class="col-md-12">
                                <textarea id="demoCustomPalette">
                                    <h6>Type in or paste your signature...</h6>
                                </textarea>
                            </div>
                        </div>
                        <!--Grid row-->
        
                    </form>
                    <div class="status"></div>
                </div>
                <!--Grid column-->
            </div>
        
        </section>
        <!-- /. Section: Contact v.2-->
        <div>
            <a href="/mailbox/accounts/add/simple">
                <button type="button" style="float: right" class="btn btn-outline-default waves-effect">
                    Add Email (+$30/Mo)
                </button>
            </a>
        </div>
    </div>
    

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="/../js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="/../js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/../js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/../js/mdb.min.js"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();

  </script>
  <!-- Editor Table JavaScript -->
  
  <script type="text/javascript" src="/../Scripts/mailbox/accounts.js"></script>

  <!-- xysiwyg editor javascript-->
  <script src="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/plugins/wysiwyg.min.js"></script>

  <script type="text/javascript" src="/../Scripts/mailbox/accounts/add/simple.js"></script>
</body>

</html>
