<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Material Design Bootstrap</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="/../css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="/../css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="/../css/style.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="/../css/mailbox.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="/../css/mailbox/accounts/add.css" rel="stylesheet">
</head>

<body class="grey lighten-3">
    <div class="content">
        <!-- Horizontal Steppers -->
        <div class="row">
            <div class="col-md-12">

                <!-- Stepers Wrapper -->
                <ul class="stepper stepper-horizontal">

                    <!-- First Step -->
                    <li class="completed">
                        <a style="cursor: default;">
                        <span class="circle">1</span>
                        <span class="label">First step</span>
                        </a>
                    </li>

                    <!-- Second Step -->
                    <li class="warning">
                        <a style="cursor: default;">
                        <span class="circle">2</span>
                        <span class="label">Second step</span>
                        </a>
                    </li>

                    <!-- Thired Step -->
                    <li class="warning">
                        <a style="cursor: default;">
                        <span class="circle">3</span>
                        <span class="label">Third step</span>
                        </a>
                    </li>

                </ul>
                <!-- /.Stepers Wrapper -->

            </div>
        </div>
        <!-- /.Horizontal Steppers -->
        <!-- Title-"Connect Your Email Account To CuteLeads"-->
        <div class="new-add-title">
            <h3>Connect your email account to Cuteleads</h3>
        </div>
        <!-- /.Title-"Connect Your Email Account To CuteLeads"-->

        <!-- 4 Radio button to select the way to configurate with what kind of email-->
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group" data-toggle="buttons">
                    <div class="col">
                        <div class="row">
                            <label class="btn btn-light-blue form-check-label p-demo-2 waves-effect waves-light active">
                                <input class="form-check-input" type="radio" name="options" id="option1" autocomplete="off" checked="">
                                <div class="view">
                                    <img src="/../img/email_logo/logo_google.svg" class="img-fluid" alt="placeholder">
                                </div>
                            </label>
                        </div>
                        <div class="row">
                            <label class="btn btn-light-blue form-check-label p-demo-2 waves-effect waves-light">
                                <input class="form-check-input" type="radio" name="options" id="option2" autocomplete="off"> 
                                <div class="view">
                                    <img src="/../img/email_logo/logo_office365.svg" class="img-fluid" alt="placeholder">
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <label class="btn btn-light-blue form-check-label p-demo-2 waves-effect waves-light">
                                <input class="form-check-input" type="radio" name="options" id="option3" autocomplete="off">
                                <div class="view">
                                    <img src="/../img/email_logo/logo_exchange.svg" class="img-fluid" alt="placeholder">
                                </div>
                            </label>
                        </div>
                        <div class="row">
                            <label class="btn btn-light-blue form-check-label p-demo-2 waves-effect waves-light">
                                <input class="form-check-input" type="radio" name="options" id="option4" autocomplete="off" checked="">
                                <div class="view tp-wth">
                                    <img src="/../img/email_logo/logo_other.svg" class="img-fluid" alt="placeholder">
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /. 4 Radio button to select the way to configurate with what kind of email-->

        <!-- 2 Radio button to select the way to configurate; auto or manual-->
        <div class="sel-conf-method-part">
            <!-- Default unchecked -->
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="defaultchecked" name="defaultExampleRadios" checked>
                <label class="custom-control-label" for="defaultchecked">Automatic connection (recommended)</label>
            </div>
        
            <!-- Default checked -->
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="defaultUnChecked" name="defaultExampleRadios" >
                <label class="custom-control-label" for="defaultUnChecked">Advanced - I want to use another SMTP server</label>
            </div>
        </div>
        <!-- /. 2 Radio button to select the way to configurate; auto or manual-->

        <div>
            <a href="/google/authorize">
                <button type="button" style="float: right" class="btn btn-outline-default waves-effect">
                    Add Email (+$30/Mo)
                </button>
            </a>
            
            
            <div>
                <a href="/google/authorize">
                <button type="button" style="float: right" class="btn btn-purple">Load email</button>
                </a>
                <a href="/mailbox/accounts">
                    <button type="button" style="float: right" class="btn btn-purple">Back</button>
                </a>
          </div>
        </div>
            
    </div>
    
  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="/../js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="/../js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/../js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/../js/mdb.min.js"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();

  </script>
  <!-- Editor Table JavaScript -->
  <script type="text/javascript" src="/../Scripts/mailbox/accounts.js"></script>
</body>

</html>
